* {
  font-family: "Poppins", sans-serif;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* estilos generales */

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(231, 230, 222);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.logotipoHeader {
  width: 8rem;
}

html,body {
height: 100%;
}

/* inicio header */
.productosTitulo {
  text-align: center;
}

header{
  display: flex;
  justify-content: space-between;
}

.navPrincipal{
  display: flex;
  gap: 1.2rem;
}


/* inicio main */
.ultimoDrop {
width: 100%;
}

.remerica {
  width: 100%;
}

.contenedorProducto {
  width: 24rem;
}

.productosFlexContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 5rem; 
}

.btncomprar {
  border: none;
  background-color: rgb(106, 151, 250);
  padding: 0.5rem 1rem;
}


.carrito {
  border: none;
  background-color: rgb(106, 151, 250);
  padding: 0.5rem 1rem;
}

/*  estilos footer */
.footerDiseño {
  background-color: rgb(0, 0, 0);
  color: rgb(247, 246, 244);
  padding: 1rem;

}