
.preguntasTitulo {
  @include faqsTitulo (1.2em, 0.3em,$colorNegro);
  font-weight: bold;
}

.respuestasTitulo {
  @include faqsTitulo (1em, 1.5em,$colorNegro);
  line-height: 1.6;
}

.containerPreguntas {
  max-width: 1500px;
  margin: 0 auto;
  padding: 3rem 0;
}

.containerPreguntas ul {
  list-style: disc;
}

